#header{
	padding-top: 10px;
	background-color: black;
	height: 40px;
	width: 100%;
	top: 0;
	z-index: 10;
	position:relative;
}

#menu{
	width:100%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	margin: 0 auto;
}

.logo{
	width: 200px;
/*	position: fixed;
*/}

.product{
	float: left;
	margin: 15px;
	width: 300px;
}

h2{
  font-family: Montserrat, arial;
  font-size: 24px;
  line-height: 30px;
}

p{
  font-family: Montserrat, arial;
  font-size: 12px;
  line-height: 18px;

}

.hello:hover{
  position: absolute;
  left:20%;
  opacity:0.4; 
    text-align:justify; 
    color:#000000; 
    font-size:20px; 
    overflow: hidden;
    font-family: Montserrat, arial;

}
/*.product:hover{
    opacity:0.4; 
    text-align:justify; 
    color:#000000; 
    font-size:20px; 
    overflow: hidden;
    font-family: Montserrat, arial;
}*/

.detailimage{
  float: left;
  width:20%;
}
.detail{
  padding-right: 200px;
  float:right;
  font-family: Montserrat, arial;
  font-size: 10px;
  line-height: 15px;
  width:75%;
}

.beauty{
	margin: 0 auto;
	padding-top: 5px;
}

body{

	margin: 0;
}

@font-face {
   font-family: myFirstFont;
   url src: "@import url(http://fonts.googleapis.com/css?family=Montserrat);";
}

.topleft{

	float: left;
	padding-left: 20px;
	
}


#nav{
	width:100%;
	padding-top: 20px;
	text-align: center;
	display:inline-block;
	font-family: Montserrat, arial;
	font-size: 12px;
	color: black;
}

hr{
	width: 1000px;
	color: #c1c1c1;
}

.containerproduct{
	margin: 0 auto;
  margin-left: 200px;
	padding-top: 5px;
	width: 90%;
	display: block;
	clear: both;
}

}

.container{
	margin: 0 auto;
	padding-top: 5px;
	width: 100%;

}

.topright{
	float: right;
	padding-right: 20px;
}

li{
		list-style: none;
		height: 10px;
		display:inline-block;
		font-family: Montserrat, arial;
		font-size: 12px;
		color: white;
		text-decoration: none;
		padding-left: 20px;
	}

a{
	color: white;
}
p{
    font-family: Montserrat, arial;
    font-size: 12px;
    color: black;
    line-height: 24px;
}

a:link{
		text-decoration: none;
		color: white;

	}

	a:hover{
		color: red;
	}

	a:active{
	color: red;
	}

/*a.title:hover{
  width:200px; 
  height:100px;
  font-size:12x; 
  text-transform:uppercase; 
  color:white;
  font-family: Montserrat, arial;
  background-color: black;
  z-index: -1;
}
*/

footer {
      text-align: center;
      font-family: Montserrat, arial;
      font-size: 12px;
      color:#7e7e7e;
    }

    footer .copyrights p {
      line-height: 36px;
    }

    footer .copyrights {
      margin-bottom: 20px;
      margin-top: 0px;
      clear: both;
      width: 90%;
      margin-left: 5%;
      padding-top: 20px;
    }

    footer .social-icons {
      margin-top: 45px;
      width: 100%;
      margin-bottom: 35px;
    }

    footer .social-icons a {
      margin-bottom: 10px;
    }

    .social-icons {
      float: left;
      clear: both;
      text-align: center;
    }

    .social-icons a {
      width: 40px;
      height: 40px;
      display: block;
      margin-right: 10px;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 3px;
      display: inline-block;
      position: relative;
      transition: background-color 0.5s;
    }


    .social-icons a:last-child {
        
        margin-right: 0px;

    }


.social-icons a.facebook {
      background-image: url(images/facebook.png);
    }
    .social-icons a.twitter {
      background-image: url(images/twitter.png);
    }
    .social-icons a.linkedin {
      background-image: url(images/linkedin.png);
    }
    .social-icons a.youtube {
      background-image: url(images/youtube.png);
    }
    .social-icons a.dribbble {
      background-image: url(images/dribbble.png);
    }
    .social-icons a.flickr {
      background-image: url(images/flickr.png);
    }
    .social-icons a.pinterest {
      background-image: url(images/pinterest.png);
    }
    .social-icons a.vimeo {
      background-image: url(images/vimeo.png);
    }
    .social-icons a.tumblr {
      background-image: url(images/tumblr.png);
    }
    .social-icons a.skype {
      background-image: url(images/skype.png);
    }

