#header{
	background-color: black;
	height: 40px;
	width: 100%;
	top: 0;
}
#menu{
	width:100%;
	padding-top: 20px;
	text-align: center;
	margin: 0 auto;
}

.logo{
	width: 200px;
	position: fixed;
}

body{

	margin: 0 !important;
}

@font-face {
   font-family: myFirstFont;
   url src: "@import url(http://fonts.googleapis.com/css?family=Montserrat);";
}

.topleft{

	float: left;
	padding-left: 20px;
	
}

#nav{
	width:100%;
	padding-top: 20px;
	text-align: center;
	display:inline-block;
	font-family: Montserrat, arial;
	font-size: 12px;
	color: black;
}

hr{
	width: 1000px;
	color: #c1c1c1;
}

.topright{
	float: right;
	padding-right: 20px;
}

li{
		list-style: none;
		height: 10px;
		display:inline-block;
		font-family: Montserrat, arial;
		font-size: 12px;
		color: white;
		text-decoration: none;
		padding-left: 20px;
	}

a{
	color: white;
}

a:link{
		text-decoration: none;
		color: white;

	}

	a:hover{
		color: red;
	}

	a:active{
	color: red;
	}